<!DOCTYPE html>
<html>

<head>
    <title>BCRA API - Banco Central de la Republica Argentina</title>
    <link rel="stylesheet" type="text/css" href="home.css">

    <meta name="title" content="BCRA API - Banco Central de la Republica Argentina">
    <meta name="description" content="Un servidor intermedio que permite solicitudes http a un sitio de estadisticas no oficiales.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://estadisticas-middle-server-bcra.onrender.com/">
    <meta property="og:title" content="BCRA API - Banco Central de la Republica Argentina">
    <meta property="og:description"
        content="Un servidor intermedio que permite solicitudes http a un sitio de estadisticas no oficiales.">
    <meta property="og:image" content="https://estadisticas-middle-server-bcra.onrender.com/open-graph.jpg">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://estadisticas-middle-server-bcra.onrender.com/">
    <meta property="twitter:title" content="BCRA API - Banco Central de la Republica Argentina">
    <meta property="twitter:description"
        content="Un servidor intermedio que permite solicitudes http a un sitio de estadisticas no oficiales.">
    <meta property="twitter:image" content="https://estadisticas-middle-server-bcra.onrender.com/open-graph.jpg">
 <!-- SEO -->
 <meta name="op:card" content="summary_large_image">
 <meta property="og:image" content="https://estadisticas-middle-server-bcra.onrender.com/open-graph.jpg" />
 <meta property="og:title" content="BCRA API - Banco Central de la Republica Argentina">
 <meta property="og:description"content="Un servidor intermedio que permite solicitudes http a un sitio de estadisticas no oficiales.">
 <meta property="og:url" content="https://estadisticas-middle-server-bcra.onrender.com/">

 <!-- Imagen de vista previa para Facebook -->
 <meta property="og:image" content="https://estadisticas-middle-server-bcra.onrender.com/open-graph.jpg">
 <meta property="og:image:width" content="1200">
 <meta property="og:image:height" content="630">

 <!-- Imagen de vista previa para Twitter -->
 <meta name="twitter:card" content="summary_large_image">
 <meta name="twitter:image" content="https://estadisticas-middle-server-bcra.onrender.com/open-graph.jpg">
 <meta name="twitter:image:width" content="1200">
 <meta name="twitter:image:height" content="675">
 <meta name="twitter:title" content="BCRA API - Banco Central de la Republica Argentina">
 <meta name="twitter:description"content="Un servidor intermedio que permite solicitudes http a un sitio de estadisticas no oficiales.">
 <meta name="twitter:url" content="https://estadisticas-middle-server-bcra.onrender.com/">

 <!-- Metadatos para WhatsApp -->
 <meta property="og:site_name" content="BCRA estadisticas">
 <meta property="og:title" content="BCRA API - Banco Central de la Republica Argentina">
 <meta property="og:description" content="Un servidor intermedio que permite solicitudes http a un sitio de estadisticas no oficiales.">

 <!-- Metadatos para Reddit -->
 <meta property="og:title" content="BCRA API - Banco Central de la Republica Argentina">
 <meta property="og:description" content=" Un servidor intermedio que permite solicitudes http a un sitio de estadisticas no oficiales.">
 <meta property="og:image" content="https://estadisticas-middle-server-bcra.onrender.com/assets/1200-675.png">

 <!-- Metadatos para LinkedIn -->
 <meta property="og:title" content="BCRA API - Banco Central de la Republica Argentina">
 <meta property="og:description" content=" Un servidor intermedio que permite solicitudes http a un sitio de estadisticas no oficiales.">
 <meta property="og:image" content="https://estadisticas-middle-server-bcra.onrender.com/open-graph.jpg">
 <meta property="og:image:width" content="1200">
 <meta property="og:image:height" content="627">

 <!-- Metadatos para Facebook Messenger -->
 <meta property="al:ios:url" content="https://estadisticas-middle-server-bcra.onrender.com">
 <meta property="al:android:url" content="https://estadisticas-middle-server-bcra.onrender.com">
 <meta property="al:web:url" content="https://estadisticas-middle-server-bcra.onrender.com/">

 <!-- Metadatos para Telegram -->
 <meta property="og:title" content="BCRA API - Banco Central de la Republica Argentina">
 <meta property="og:description" content=" Un servidor intermedio que permite solicitudes http a un sitio de estadisticas no oficiales.">
 <meta property="og:image" content="https://estadisticas-middle-server-bcra.onrender.com/open-graph.jpg">

 <!-- Brand -->
 <meta name="description"
   content="Un servidor intermedio que permite solicitudes http a un sitio de estadisticas no oficiales. Mi viaje en el mundo del desarrollo web full stack me ha llevado a especializarme en el Front-End, donde puedo sumergirme en el rol del usuario y asegurar que cada detalle esté cuidadosamente elaborado.🚀">
 <meta name="author" content="Camila Zupanovich">
</head>

<body>
    <header>
        <h1>BCRA API</h1>
        <p> Api <ins>no oficial</ins> con datos en tiempo real del <strong>Banco Central de la Republica
                Argentina</strong> </p>
        <small> Este es un servidor intermedio que permite solicitudes http a un sitio de estadisitcas no oficiales. El
            sitio recolecta datos de diferentes medios y los va actualizando a diario generando un response con valor y
            fecha de la ultima actualización. Cada enlace lleva al endpoint que necesitarás llamar desde tu front
            end</small>
    </header>
    <section>
        <h2>Endpoints para obtener los Valores del dolar</h2>
        <ul>
            <li>
                <a href='/usd/blue'> Dolar blue </a>
                <p>url => https://estadisticas-middle-server-bcra.onrender.com/usd/blue</p>
            </li>
            <li>
                <a href='/usd/oficial'> Dolar oficial </a>
                <p>https://estadisticas-middle-server-bcra.onrender.com/usd/oficial</p>
            </li>
            <li>
                <a href='/usd/minorista'> Dolar minorista </a>
                <p>https://estadisticas-middle-server-bcra.onrender.com/usd/minorista</p>
            </li>
        </ul>
    </section>
</body>

</html>